<h1>Welcome To Ticket Booking System</h1>

<!-- Horizontal under breakpoint -->
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <a routerLink="/dummydata">
      <button
        type="button"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        Dummy Data
      </button>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/bookticket">
      <button type="button" class="list-group-item active">Book Ticket</button>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/ticketops">
      <button
        type="button"
        class="list-group-item list-group-item-action active"
        disabled
      >
        Ticket Operations
      </button>
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
